/* Footer.css */

/* Styling for the main footer container */
.footer {
    background-color: #232F3E;
    color: #dddddd;
    padding: 20px;
    font-size: 14px;
  }

  /* Styling for the "Back to top" link */
  .scroll-top {
    color: #ffffff;
    background-color: #37475a;
    padding: 8px 12px;
    cursor: pointer;
    text-align: center;

  }

  .scroll-top:hover {
    background-color: #2b3848;
  }

  /* Styling for footer links */
  .footer a {
    color: #dddddd;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
  }

  .footer a:hover {
    color: #ffffff;
  }

  .footer h3 {
    font-size: 18px;
    margin-bottom: 16px;
    color: #ffffff;
  }


  .know-us-container,
  .make-money-with-us-container,
  .payment-container,
  .amazon-help-you-container {
    margin-bottom: 20px;
  }

  .footer-links{
    display: "flex" , justifyContent : "center"
  }
