.footer .footer-container{
    display: flex ;
    justify-content: center ;
    align-items: center ;
}

.footer .footer-container {
    font-size: 13px ;
    line-height: 19px ;
    height: 40px;
    background: #37475a ;
    color : white;
}

.footer .footer-container link {
    color: #fff ;
    margin-top: 30px;

}

.footer-link{
    display: flex ;
    justify-content: center;
    height: 50vh;
   background: #232F3E;
   line-height: 35px;
   padding-top: 4px;
}

.footer-link div > h3 {
  font-size: 16px ;
  color : #ffffff;
  margin-right: 100px;
  margin-top: 30px;
}


.footer-link link p:hover{
  background: red;
}


.footer-info{
    height: 90px;
    display: flex ;
 justify-content: center ;
 align-items: center ;
 height:90px;
 background: #232F3E;

}

.footer-info .info{
  margin-bottom: 30px;
}

.footer-info
 .united-states-image
 , .earth-icon
 {
    width : 15px;
 }



.footer-info .earth-icon{
    background: #ffffff ;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.footer-info .info{
    display: flex ;
    justify-content: center;
    margin-top: 30px ;
    margin-left: 15px ;
    border: 1px solid #fff ;
    padding: 10px;
    height: 45px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
 }


.footer-links-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    background-color: #131A22 ;
    padding: 20px;

  }

  .footer-links-container h5{
    color : #dddddd;
    font-size: 12px;
  }

  .footer-links-container h6{
    color : #999999;
    font-size: 12px;
  }


  .footer-links-container a{
   text-align: center ;
  }
  .footer-links-container a:hover{
    text-decoration: underline #ffffff;
  }















