/* Footer.css */

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    line-height: 19px;
    height: 40px;
    background: #37475a;
    color: white;
}

.footer-container a {
    color: #fff;
    margin-top: 30px;
}

.footer .footer-links

.footer-links {
    display: flex;
    justify-content: center;
    height: 50vh;
    background: #232F3E;
    line-height: 35px;
    padding-top: 4px;
}

.footer-links div > h3 {
    font-size: 16px;
    color: #ffffff;
    margin-right: 60px;
}

.footer-links a {
    line-height: 16.8px;
}

/* Other CSS rules can be added here */

