.footer .footer-container{
    display: flex ;
    justify-content: center ;
    align-items: center ;
}

.footer .footer-container {
    font-size: 13px ;
    line-height: 19px ;
    height: 40px;
    background: #37475a ;
    color : white;
}

.footer .footer-container link {
    color: #fff ;
    margin-top: 30px;

}

.footer-link{
    display: flex ;
    justify-content: center;
    height: 50vh;
   background: #232F3E;
   line-height: 35px;
   padding-top: 4px;
}

.footer-link div > h3 {
  font-size: 16px ;
  color : #ffffff;
  margin-right: 60px;
}


.footer-link Linkhover{
  text-decoration: underline;
}
