.footer .footer-container{
    display: flex ;
    justify-content: center ;
    align-items: center ;
}

.footer .footer-container {
    font-size: 13px ;
    line-height: 19px ;
    height: 40px;
    background: #37475a ;
    color : white;
}

.footer .footer-container link {
    color: #fff ;
    border : 2px sloi
}

.footer-links{
    display: flex ;
    justify-content: center;
    height: 50vh;
   background: #37475a;
   line-height: 35px;
}

.footer-links div > h3 {
  font-size: 16px ;
  color : #ffffff;
  margin-right: 60px;
}

.footer-linksK Link  {
line-height: 16.8px;
}
