.footer .footer-container{
    display: flex ;
    justify-content: center ;
    align-items: center ;
}

.footer .footer-container {
 font-size: 13px ;
line-height: 19px ;
height: 40px;
background: #37475a ;
color : white;
}