.footer .footer-container{
    display: flex ;
    justify-content: center ;
    align-items: center ;
}

.footer .footer-container link p {
 font-size: 13px ;
line-height: 19px ;
height: 30px;
background: #37475a;
}