/* Footer.css */

.footer-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #131921;
    color: #cccccc;
    padding: 20px;
  }

  .amazon-logo {
    width: 100px;
    height: auto;
  }

  .info {
    display: flex;
    align-items: center;
  }

  .info a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #cccccc;
  }

  .earth-icon,
  .united-states-image {
    width: 24px;
    height: auto;
    margin-right: 8px;
  }

  .selected-language,
  .dollar-sign,
  .currency,
  .country-name {
    font-size: 14px;
  }

  /* Add additional styling and adjust as needed */
