.login{
  display: flex;
  justify-content: center ;
  align-items: center ;


}


.login .logo-container{
    display: flex ;
    justify-content: center ;
}

.amazon-login{
    height: 50px ;
}

.login-container{
 display: flex ;
 flex-direction: column;

}
